<h3 class="ui header">{{t "forms.i-i-s-testovyjj-обращение-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номер
      class=(if (v-get validationModel "номер" "isInvalid") "error")
      label=(t "forms.i-i-s-testovyjj-обращение-e.номер-caption")
      data-test-i-i-s-testovyjj-обращение-e-номер=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номер" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.статус
      class=(if (v-get validationModel "статус" "isInvalid") "error")
      label=(t "forms.i-i-s-testovyjj-обращение-e.статус-caption")
      data-test-i-i-s-testovyjj-обращение-e-статус=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "статус" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-testovyjj-обращение-e.сотрудник-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.сотрудник
      displayAttributeName="имя"
      autocomplete=true
      relationName="сотрудник"
      projection="СотрудникL"
      title=(t "forms.i-i-s-testovyjj-обращение-e.сотрудник-caption")
      readonly=readonly
      componentName="сотрудникLookup"
      class=(if (v-get validationModel "сотрудник" "isInvalid") "error")
      data-test-i-i-s-testovyjj-обращение-e-сотрудник=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "сотрудник" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-testovyjj-обращение-e.наОснове-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.наОснове
      displayAttributeName="статус"
      autocomplete=true
      relationName="наОснове"
      projection="ОбращениеL"
      title=(t "forms.i-i-s-testovyjj-обращение-e.наОснове-caption")
      readonly=readonly
      componentName="наОсновеLookup"
      class=(if (v-get validationModel "наОснове" "isInvalid") "error")
      data-test-i-i-s-testovyjj-обращение-e-наОснове=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "наОснове" "message")}}
  </div>
</form>
